<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Headmaster2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>Headmaster Homepage!</h1>
  <h3>Select Cohort</h3>
  <main>{{{cohortsListHTML}}}</main>

  <h3>Create New Cohort</h3>

  <form action="/cohorts" method="post">
    <label>Cohort title:</label>
    <input type="text" name="title" />

    <label>Slug:</label>
    <input type="text" name="slug" />

    <br>
    <br>

    <label for="start">Start Date:</label>

    <input type="date" id="start" name="tript-start"
            value="2019-10-07"
            min="2019-01-01" max="2025-12-31">

     <label for="start">End Date:</label>

    <input type="date" id="start" name="tript-start"
            value="2019-10-07"
            min="2019-01-01" max="2025-12-31">        

    <button type="submit">Add Cohort</button>
  </form>
</body>

</html>
